.post_categories-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  list-style: none;
  text-transform: capitalize;
}

.post_categories-list .show_all-categories_btn {
  border: none;
  background: #fff;
  padding: 10px 0;
  border: 1px solid transparent;
}

.post_categories-list .show_all-categories_btn:hover {
  cursor: pointer;
  background: var(--grey);
  border: 1px solid #fff;
}
