.post_categories-btn {
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 0.2rem;
  border: 1px solid transparent;
  border-radius: 6px;
}

.post_categories-btn:hover {
  background: var(--grey);
  border: 1px solid #fff;
}
